// Variables

//Animation

$transition-base: .3s ease;

// Fonts
$font-montserrat: 'Montserrat', sans-serif;
$font-Open-sans: 'Open Sans', sans-serif;

// Path
$path-img: '../img/';


// Colors
$color-white: #fff;
$color-notwhite: #fefcf9;
$color-grey: #60606e;
$color-basicgrey: #ccc;
$color-lightgrey: #999999;
$color-green: #7beec7;
$color-black: #000;
$color-red: #ea6a6a;