// Contacts 

.contact-content {

    &__form {
        padding-bottom: 100px;
    }

    &__discription {

        color: $color-grey;

        & span {
            display: block;
        }
    }

}

.form-row {
    padding-bottom: 30px;
}

.contact-form__btn {
    background-color: $color-green;
    color: $color-white;
}

#map {
    height: 100%;
}

