// Breadcrumb

.breadcrumb {
    justify-content: center;
    font-family: $font-montserrat;
    font-weight: 700;
    text-transform: uppercase;
    background-color: transparent;
    color: $color-grey;

    a {
        color: $color-grey; 
    }
}