// Button 

.btn {
    margin-bottom: 10px;
    font-family: $font-montserrat;
    font-size: 14px;
    font-weight: 700;
    padding: 13px 0;
    width: 100%;
    border-radius: 0;
    text-transform: uppercase;
}